/***************************************************************************************** BASE/SCSS **/

/** [-] Reset *****************************************************************************************/

* {
	margin: 0; padding: 0;

	box-sizing: border-box;
	outline: none;
	text-rendering: optimizeLegibility !important;
	text-shadow: 1px 1px 1px rgba(25, 25, 25, 0.004);

	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub,
sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0; padding: 0;

	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

input:focus { outline: 0; }

body { line-height: 1; }
ol, ul { list-style: none; }

blockquote, q {
	quotes: none;

	&:before, &:after {
		content: "";
		content: none;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/** [-] Clearfix **************************************************************************************/

.cf {
	zoom: 1;

	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after { clear: both; }
}

/** [-] Colours ***************************************************************************************/

$black:     rgba(25, 25, 25, 1);    // #191919;
$white:     rgba(252, 252, 252, 1); // #fcfcfc;

$l-gray:		rgba(244, 244, 244, 1);	// #f4f4f4;
$gray:			rgba(228, 228, 228, 1);	// #e4e4e4;

$cyan:      rgba(7, 208, 235, 1);   // #07d0eb;
$magenta:   rgba(235, 7, 168, 1);   // #eb07a8;
$yellow:    rgba(235, 232, 7, 1);   // #ebe807;
$key:       rgba(25, 25, 25, 1);    // #191919;

.cyan       { color: $cyan; }
.magenta    { color: $magenta; }
.yellow     { color: $yellow; }
.key        { color: $key; }

.star				{ color: $white; }

/*
$red:				rgba(255, 59, 48, 1);		// #ff3b30;
$orange:		rgba(255, 149, 0, 1);		// #ff9500;
$yellow:		rgba(255, 204, 0, 1);		// #ffcc00;
$green:			rgba(76, 217, 100, 1);	// #4cd964;
$blue:			rgba(0, 122, 255, 1);		// #007aff;
$purple:		rgba(179, 86, 214, 1);	// #b356d6;
*/

/** [-] Mixins ****************************************************************************************/

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);

@mixin unicode { font-family: Arial, Verdana, Geneva, sans-serif; }

@mixin mono { font-family: "Source Code Pro", "Courier New", monospace; }
@mixin sans { font-family: "Source Sans Pro", "freight-sans-pro", Arial, sans-serif; }
@mixin serif { font-family: "Poly", "Hoefler Text", Georgia, serif; }

@mixin hide-text {
  border: 0;
  color: transparent;
  font: 0/0 a;
  text-shadow: none;
}

@mixin ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/** [-] Generic ***************************************************************************************/

::-webkit-scrollbar {
  width: 3px; height: 3px;
}

::-webkit-scrollbar-thumb {
	background-color: $black;
	&:window-inactive { background-color: $cyan; }
}

::-webkit-scrollbar-track { background: rgba($white, 0.1); }

p {
	@include serif;
  font-size: 24px;
	line-height: 36px;
  margin: 0 0 2.5rem 0;
	text-align: left;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: opacity 0.2s ease;

	&:hover { opacity: 0.7; }
}

em, i {
	/* font-family: "SourceSansProItalic"; */
	font-style: italic;

	strong, .strong, b {
		/* font-family: "SourceSansProBoldItalic"; */
		font-style: italic;
		font-weight: 700;
	}
}

strong, .strong, b {
	/* font-family: "SourceSansProBold"; */
	font-weight: 700;

	em, i {
		/* font-family: "SourceSansProBoldItalic"; */
		font-style: italic;
	}
}

pre, code {
	@include mono;
	font-size: 80%;
	margin: 0 0.4rem;
}

small {
	@include sans;
	font-size: 80%;
}

.hide-text { @include hide-text; }
.unicode-char { @include unicode; }

/** [-] Titles ****************************************************************************************/

h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	a { font-weight: inherit; }
}

h1 {
	font-size: 3rem; /* 46px */
	line-height: 50px;
	margin: 0 0 14px 0;
}

h2 {
	font-size: 36px; /* 2rem ~ 35px 28... */
	line-height: 40px;
	margin: 0 0 2rem 0;
}

h3 {
	font-size: 1.7em; /* 28px */
	line-height: 34px;
	margin: 0 0 8px 0;
}

h4 {
	font-size: 21px;
	line-height: 30px;
	margin: 0 0 4px 0;
}

h5 {
	font-size: 17px;
	line-height: 24px;
}

h6 {
	font-size: 14px;
	line-height: 21px;
}

/** [-] Lists *****************************************************************************************/

ul, ol {
	margin: 0; padding: 0;

	ul, ol {
		li {
			margin: 0; padding: 0;
			line-height: 1;
		}
	}
}

ul { list-style: none outside; }
ol { list-style: decimal; }

.square, .circle, .disc { margin-left: 30px; }

.square { list-style: square outside; }
.circle { list-style: circle outside; }
.disc { list-style: disc outside; }

hr {
	border: 1px solid #ddd;
	clear: both;
	height: 0;
	margin: 10px 0 30px;
}

/** [-] Quotes ****************************************************************************************/

blockquote {
	margin: 1.5em 10px; padding: 0.5em 10px;

	background-color: $l-gray;
	border-left: 10px solid $cyan;
  line-height: 25px;
	quotes: "\201C""\201D""\2018""\2019";

  &:before {
    color: $cyan;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin: 0 0.25em 0 0;
    vertical-align: -0.4em;
  }
}

/** [-] Video *****************************************************************************************/

.video-container {
	margin: 0 0 20px 0; padding-bottom: 56.25%; padding-top: 30px;

	height: 0;
	overflow: hidden;
	position: relative;

	iframe, object, embed {
		width: 100%; height: 100%;
		top: 0; left: 0;

		border: none;
		clear: left;
		position: absolute;
	}
}
