
/************************************************************************************ SCROLLBAR/SCSS **/

.jspContainer {
	overflow: hidden;
	position: relative;
}

.jspPane { position: absolute; }

.jspVerticalBar, .jspHorizontalBar {
	background: transparent;
	position: absolute;
}

.jspVerticalBar {
	width: 3px; height: 100%;
	top: 0; right: 0.5%;

	.jspArrow {
		height: 0;
		&:focus { outline: none; }
	}
}

.jspHorizontalBar {
	width: 100%; height: 1px;
	bottom: -1px; left: 0;

	.jspCap { float: left; }

	.jspTrack, .jspDrag {
		float: left;
		height: 100%;
	}

	.jspArrow {
		width: 16px; height: 100%;
		float: left;
	}
}

.jspCap { display: none; }

.jspTrack {
	background-color: rgba($white, 0.3);
	position: relative;
}

.jspDrag {
	top: 0; left: 0;

	background-color: $black;
	cursor: pointer;
	position: relative;
}

.jspArrow {
	margin: 0; padding: 0;

	background-color: rgba($white, 0.3);
	cursor: pointer;
	display: block;
	text-indent: -20000px;
}

.jspArrow.jspDisabled {
	background-color: rgba($white, 0.3);
	cursor: default;
}

.jspCorner {
	background-color: rgba($white, 0.3);
	float: left;
	height: 100%;
}
