
<!DOCTYPE html>
<html lang="en">

  <head>

		<meta charset="utf-8"/>
		<title></title>

		<!--/ HELPING TO MAKE THE 'NET A BETTER PLACE TO BE
			 __  __     __     __  __     ______     ______     __
			/\ \_\ \   /\ \   /\ \/ /    /\  __ \   /\  == \   /\ \
			\ \  __ \  \ \ \  \ \  _"-.  \ \  __ \  \ \  __<   \ \ \
			 \ \_\ \_\  \ \_\  \ \_\ \_\  \ \_\ \_\  \ \_\ \_\  \ \_\
			  \/_/\/_/   \/_/   \/_/\/_/   \/_/\/_/   \/_/ /_/   \/_/

			01101000 01101001 01101011 01100001 01110010 01101001 

		/-->

		<meta name="application-name" content="hikari">
		<meta name="author" content="Paul Anthony Webb × Ideas Never Cease"/>
		<meta name="description" content="The OS of the future. http://hikar.io"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

		<link rel="stylesheet" href="shell/css/style.css"/>
		<link rel="shortcut icon" href="shell/favicon.png"/>

		<script src="logic/vendor/jquery-2.1.0.min.js"></script>
		<script src="logic/hprogress.js"></script>

		<script src="logic/time/date-format.js"></script>
		<script src="logic/time/alarm-clock.js"></script>
		<script src="logic/time/clock.js"></script>

		<script src="logic/forecast/simpleWeather.js"></script>

		<script>
			// title
			function tb8_makeArray(n) {

				this.length = n;
				return this.length;

			}

			tb8_messages = new tb8_makeArray(1);
			tb8_messages[0] = "hikari OS — Welcome";
			tb8_rptType = "finite";
			tb8_rptNbr = 1;
			tb8_speed = 50;
			tb8_delay = 0;

			var
			tb8_counter = 1,
			tb8_currMsg = 0,
			tb8_tekst = "",
			tb8_i = 0,
			tb8_TID = null;

			function tb8_pisi() {

				tb8_tekst = tb8_tekst + tb8_messages[tb8_currMsg].substring(tb8_i, tb8_i + 1);
				document.title = tb8_tekst;
				tb8_sp = tb8_speed;
				tb8_i++;

				if (tb8_i == tb8_messages[tb8_currMsg].length) {
					tb8_currMsg++;
					tb8_i = 0;
					tb8_tekst = "";
					tb8_sp = tb8_delay;
				}

				if (tb8_currMsg == tb8_messages.length) {
					if ((tb8_rptType == "finite") && (tb8_counter == tb8_rptNbr)) {
						clearTimeout(tb8_TID);
						return;
					}

					tb8_counter++;
					tb8_currMsg = 0;
				}

				tb8_TID = setTimeout("tb8_pisi()", tb8_sp);

			}

			tb8_pisi();
			// end title

			$(function () {

				$.simpleWeather({
					zipcode: "02148",
					// woeid: "2357536",
					location: "",
					unit: "f",
					success: function (weather) {
						// html = "<h3>"+weather.city+", "+weather.region+" "+weather.country+"</h3>";
						html = "<p>" + weather.temp + "&deg;" + weather.units.temp + "&nbsp;" + weather.currently + "</p>";

						$("#weather").html(html);
					},

					error: function (error) {
						$("#weather").html("<p>" + error + "</p>");
					}
				});

			});
		</script>

  </head>

	<!--/	LET'S BEGIN /-->

	<body unselectable="on">

		<section>
			<div id="login-greet">
				<section id="greet">
					<h2>Welcome</h2>

					<p>
						<span id="time-of-day"></span> *USERNAME*. It is <span id="current-time"></span> on <span id="current-day"></span>.<br/><br/>
						<span id="weather"></span>
					</p>
				</section>

				<section id="login">
					<h2>Log In</h2>

					<form action="/login" method="post">
						<div>
							<input type="text" class="labelBetter" data-new-placeholder="Username" placeholder="Username"/>
						</div>

						<div>
							<input type="password" class="labelBetter" data-new-placeholder="Password" placeholder="Password"/>
						</div>

						<div>
							<input id="confirm-login" type="submit" value="Log In"/>
						</div>
					</form>
				</section>
			</div>
		</section>

		<script src="logic/labelBetter.js"></script>

		<script>
			$(function () {
			
				$(".labelBetter").labelBetter({ easing: "bounce" });

				var $vW = $(window).width(), $vH = $(window).height();

				$("#login-greet").css({
					"top": $vH / 2 - 150 + "px",
					"left": $vW / 2 - 150 + "px"
				});

				$("#greet").mouseover(function () {

					$(this).css("height", "294px");
					$("#greet p").css("opacity", "1");

					$("#login").css("height", "56px");
					$("#login form").css("opacity", "0.001");

				});

				$("#login").mouseover(function () {

					$(this).css("height", "294px");
					$("#login form").css("opacity", "1");

					$("#greet").css("height", "56px");
					$("#greet p").css("opacity", "0.001");

				});

				// Pretend authentication actually works
				$("#confirm-login").click(function () {

					window.location.href = "/";
					return false;

				});

			});
		</script>

	</body>

</html>
