
<!DOCTYPE html>
<html lang="en">

  <head>

		<meta charset="utf-8"/>
		<title>Log In!</title>

		<!--/ HELPING TO MAKE THE 'NET A BETTER PLACE TO BE
			 __  __     __     __  __     ______     ______     __
			/\ \_\ \   /\ \   /\ \/ /    /\  __ \   /\  == \   /\ \
			\ \  __ \  \ \ \  \ \  _"-.  \ \  __ \  \ \  __<   \ \ \
			 \ \_\ \_\  \ \_\  \ \_\ \_\  \ \_\ \_\  \ \_\ \_\  \ \_\
			  \/_/\/_/   \/_/   \/_/\/_/   \/_/\/_/   \/_/ /_/   \/_/

			01101000 01101001 01101011 01100001 01110010 01101001 

		/-->

		<meta name="application-name" content="hikari">
		<meta name="author" content="Paul Anthony Webb × Ideas Never Cease"/>
		<meta name="description" content="The OS of the future. http://hikar.io"/>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

		<link rel="stylesheet" href="shell/css/style.css"/>
		<link rel="shortcut icon" href="shell/favicon.png"/>

		<script src="logic/vendor/jquery-2.1.0.min.js"></script>
		<script src="logic/hprogress.js"></script>

  </head>

	<!--/	LET'S BEGIN /-->

	<body unselectable="on">

		<section>
			<div id="login-greet">
				<section id="greet">
					<h2>Welcome</h2>

					<p>Good morning *USERNAME*. It is *TIME* on *DAY*.<br/><br/>*WEATHER* *TEMPERATURE*.</p>
				</section>

				<section id="login">
					<h2>Log In</h2>

					<form action="/login" method="post">
						<div>
							<!--/ <label>Username:</label><input type="text" name="username"/> /-->
							<input type="text" class="labelBetter" data-new-placeholder="Username" placeholder="Username"/>
						</div>

						<div>
							<!--/ <label>Password:</label><input type="password" name="password"/> /-->
							<input type="password" class="labelBetter" data-new-placeholder="Password" placeholder="Password"/>
						</div>

						<div>
							<input id="confirm-login" type="submit" value="Log In"/>
						</div>
					</form>
				</section>
			</div>
		</section>

		<script src="logic/labelBetter.js"></script>

		<script>
			$(function () {
			
				$(".labelBetter").labelBetter({ easing: "bounce" });

				var $vW = $(window).width(), $vH = $(window).height();

				$("#login-greet").css({
					"top": $vH / 2 - 150 + "px",
					"left": $vW / 2 - 150 + "px"
				});

				$("#greet").mouseover(function () {

					$(this).css("height", "294px");
					$("#greet p").css("opacity", "1");

					$("#login").css("height", "56px");
					$("#login form").css("opacity", "0.001");

				});

				$("#login").mouseover(function () {

					$(this).css("height", "294px");
					$("#login form").css("opacity", "1");

					$("#greet").css("height", "56px");
					$("#greet p").css("opacity", "0.001");

				});

				// Pretend authentication actually works
				$("#confirm-login").click(function () {

					window.location.href = "/";
					return false;

				});

			});
		</script>

	</body>

</html>
