////////////////////////////////////////////////////////////////////////// SYSTEM.CONTEXT-MENU/SCSS ///

.system__context-menu {
  min-width: 160px; height: auto;

  background-color: rgba($white, 0.9);
  border-radius: 0.5rem;
  padding: 1rem;
  position: absolute;

  hr {
    width: 100%; height: 2px;

    background-color: rgba($dark-gray, 0.1);
    border: none;
    margin-bottom: 0.5rem;
  }
}

.system__context-menu__item {
  color: rgba($dark-gray, 0.9);
  font-size: 0.9rem;

  &:not(:last-child) {
    margin-bottom: 0.5rem;
  }

  a {
    display: block;
  }
}

/*
.context-menu-list {
  margin: 0; padding: 0;

  background-color: rgba($black, 0.55);
  color: $white;
  cursor: default;
  @include mono;
  font-size: 12px;
  display: inline-block;
  transition: opacity 5s ease-out;
  padding: 0.5rem 0;
  position: absolute;
  width: auto; min-width: 135px;

  .context-menu-item {
    line-height: 1.5rem;
    padding: 6px 15px;
    position: relative;
    user-select: none;

    &:hover {
      background-color: rgba($black, 0.55);
      color: $white;
    }
  }

  .context-menu-separator:hover { background-color: transparent; }

  .context-menu-submenu:after {
    content: "\00a0>";
    float: right;
  }

  .context-menu-item > .context-menu-list {
    top: 5px; right: -5px;

    border-left: 5px solid rgba($black, 0.55);
    display: none;
  }

  .context-menu-item.hover > .context-menu-list {
    display: block;
    margin: -8px 0 0 0 !important;
  }
}

#context-menu-layer {
}

.context-menu-active {
  // background-color: $white;
  opacity: 1;
}
*/