.dekaojs {
  width: 100%; height: 100%;
  margin: 0; padding: 0 18px;

  background-color: $black;
  color: $white;
  @include mono;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1rem;

  .identity {
    margin: 0; padding: 0 0 10px 0;

    h1 {
      display: inline-block;
      font-size: 1.3rem;
      margin: 0 0.5rem 0 0;
    }
  }

  .dekaojs-box {
    display: flex;
  }

  .dekaojs-prompt {
    box-orient: horizontal;
    clear: both;
    flex-flow: row;
  }

  .dekaojs-input {
    flex: 1;
    display: block;
    outline: 0;
  }

  .dekaojs-ps {  margin: 0 5px 0 0; }

  .dekaojs-output {
    clear: both;

    .dekaojs-output-line {
      height: 0;
      overflow: hidden;
    }

    .dekaojs-output-line.animate {
      transition: height 0.2s ease-in-out;
    }

    .dekaojs-output-line.dekaojs-userinput {
      transition: none !important;
    }
  }
}