
/****************************************************************************** SYSTEM.OFFLINE/SCSS **/
/*
.offline-ui, .offline-ui *,
.offline-ui:before, .offline-ui:after,
.offline-ui *:before, .offline-ui *:after {
	box-sizing: border-box;
}
*//*
.online {
	width: 6px; height: 6px;

	background-color: $teal;
	border-radius: 5000px;
	display: inline-block;
	margin: 0 0.5rem 0 0;
}
*/

.offline-ui {
	top: 0; /* 1.3rem */ right: 0; /* 5rem */

	display: block;
	position: absolute;
	/* width: 12px; */
	z-index: 1000;

	.offline-ui-retry { display: none; }
}

.offline-ui.offline-ui-up {
	display: block;
	/* width: 12px; */

	.offline-ui-content {
		/* &:before { content: "Online"; } */
	}
}


.offline-ui.offline-ui-down {
	display: block;
	/* width: 12px; */

	.offline-ui-content {
		/* &:before { content: "Offline"; } */
	}
}

.offline-ui {
	width: auto;

	.offline-ui-content {
		&:after {
			width: 2px; height: 47px;

			/* border-radius: 50rem; */
			content: " ";
			display: block;
			margin: auto;
		}
	}
}

.offline-ui.offline-ui-up .offline-ui-content:after { background-color: darken($green, 10%); }
.offline-ui.offline-ui-down .offline-ui-content:after { background-color: darken($red, 10%); }
