
/********************************************************************************* SYSTEM.GAEA/SCSS **/

html, body, .hikari-container, .hikari-pusher, .hikari-content {
	width: 100%; height: 100%;
}

html {
	background-color: $teal !important;
	background-image: linear-gradient(to top, saturate($white, 100%), darken($teal, 10%)) !important;
}

body {
	@include sans;
	font-size: 11px;
}

.hikari-content {
	// background-color: $white;
	overflow: hidden;
	// overflow-y: scroll;
}

.hikari-content, .hikari-content-inner { position: relative !important; } //

// (HIKARI.gaea.wm.background)

.hikari-content-inner {
	width: 100%; height: 100%;

	background-image: url("../wallpaper/spring-sriram.jpg"); 
	// margin: 0;
	overflow: hidden;
}

.hikari-container {
	overflow: hidden;
	position: relative;
}

.hikari-pusher {
	height: 100%;
	left: 0;
	position: relative;
	transition: transform 0.5s;
	z-index: 99;

	-webkit-transition: -webkit-transform 0.5s;

	&:after {
		width: 0; height: 0;
		top: 0; right: 0;

		background: rgba($black, 0.2);
		content: "";
		opacity: 0;
		position: absolute;
		transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;

		-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
	}
}

.hikari-menu-open .hikari-pusher::after {
	width: 100%; height: 100%;

	opacity: 1;
	transition: opacity 0.5s;

	-webkit-transition: opacity 0.5s;
}

.hikari-menu {
	// background: #48a770;
	background-color: transparent;
	overflow: hidden;
	position: absolute;
	transition: all 0.5s;
	visibility: hidden;
	z-index: 100;

	-webkit-transition: all 0.5s;

	&:after {
		width: 100%; height: 100%;
		top: 0; right: 0;

		background: rgba($black, 0.2);
		content: "";
		opacity: 1;
		position: absolute;
		transition: opacity 0.5s;

		-webkit-transition: opacity 0.5s;
	}

	ul {
		margin: 0; padding: 0;
		list-style: none;

		li {
			a {
				color: $white;
				cursor: pointer;
				display: block;
				font-weight: 400;
				letter-spacing: 1px;
				outline: none;
				padding: 1rem 1rem 1rem 1.2rem;
				text-shadow: 0 0 10px rgba($black, 0.2);
				text-transform: uppercase;
				transition: background 0.3s;

				-webkit-transition: background 0.3s;

				&:hover {
					background-color: rgba($black, 0.2);
					color: $white;
				}
			}
		}
	}

	h2 {
		margin: 0; padding: 1em;

		color: rgba($black, 0.4);
		font-size: 2em;
		font-weight: 300;
		text-shadow: 0 0 1px rgba($black, 0.1);
	}
}

/*
	width: 300px; height: 100%;
	top: 0; left: 0;
*/

.hikari-menu-open .hikari-menu::after {
	width: 0; height: 0;

	opacity: 0;
	transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;

	-webkit-transition: opacity 0.5s, width 0.1s 0.5s, height 0.1s 0.5s;
}

// Fallback example for browsers that don't support 3D transforms (and no JS fallback)
.no-csstransforms3d .hikari-pusher, .no-js .hikari-pusher { padding-left: 300px; }

/************************************************************************************************* Individual effects */

/* Left Menu Push *****************************************************************************************************/

.left.hikari-container {
	perspective: 1500px;
	-webkit-perspective: 1500px;
}

.left .hikari-pusher {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.left.hikari-menu-open .hikari-pusher {
	transform: translate3d(300px, 0, -300px);
	-webkit-transform: translate3d(300px, 0, -300px);
}

.left.hikari-menu {
	width: 300px; height: 100%;
	top: 0; left: 0;

	// font-size: 2em;
	font-size: 2.5vh;
	opacity: 1;
	// padding: 2.5rem 0;
	text-align: right;
	transform: translate3d(-100%, 0, 0);

	-webkit-transform: translate3d(-100%, 0, 0);
}

.left.hikari-menu-open .left.hikari-menu {
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s;
	visibility: visible;

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.5s;
}

.left.hikari-menu::after { display: none; }

/* Right Menu Push ****************************************************************************************************/

.right.hikari-container {
	perspective: 1500px;
	-webkit-perspective: 1500px;
}

.right .hikari-pusher {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.right.hikari-menu-open .hikari-pusher {
	transform: translate3d(-300px, 0, -300px);
	-webkit-transform: translate3d(-300px, 0, -300px);
}

.right.hikari-menu {
	width: 300px; height: 100%;
	top: 0; right: 0;

	opacity: 1;
	transform: translate3d(100%, 0, 0);

	-webkit-transform: translate3d(100%, 0, 0);
}

.right.hikari-menu-open .right.hikari-menu {
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s;
	visibility: visible;

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.5s;
}

.right.hikari-menu::after { display: none; }

/* Top Menu Push ******************************************************************************************************/

.top.hikari-container {
	perspective: 1500px;
	-webkit-perspective: 1500px;
}

.top .hikari-pusher {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.top.hikari-menu-open .hikari-pusher {
	transform: translate3d(0, 100px, -300px);
	-webkit-transform: translate3d(0, 100px, -300px);
}

.top.hikari-menu {
	width: 100%; height: 100px;
	top: 0; left: 0;

	opacity: 1;
	transform: translate3d(0, -100%, 0);

	-webkit-transform: translate3d(0, -100%, 0);
}

.top.hikari-menu-open .top.hikari-menu {
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s;
	visibility: visible;

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.5s;
}

.top.hikari-menu::after { display: none; }

/* Bottom Menu Push ***************************************************************************************************/

.bottom.hikari-container {
	perspective: 1500px;
	-webkit-perspective: 1500px;
}

.bottom .hikari-pusher {
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
}

.bottom.hikari-menu-open .hikari-pusher {
	transform: translate3d(0, -100px, -300px);
	-webkit-transform: translate3d(0, -100px, -300px);
}

.bottom.hikari-menu {
	width: 100%; height: 100px;
	bottom: 0; left: 0;

	opacity: 1;
	transform: translate3d(0, 100%, 0);

	-webkit-transform: translate3d(0, 100%, 0);
}

.bottom.hikari-menu-open .bottom.hikari-menu {
	transform: translate3d(0, 0, 0);
	transition: transform 0.5s;
	visibility: visible;

	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 0.5s;
}

.bottom.hikari-menu::after { display: none; }

/********************************************************************************* [+00] FOUNDATION **/

.button, button {
	margin: 0; padding: 0.5rem 1rem;

	background-repeat: repeat-x;
	border: 1px solid rgba($black, 0.3);
	border-radius: 5px;
	font-weight: 400;
	transition: all 0.2s ease;

	&:hover {
		opacity: 1;
		padding: 0.5rem 1.5rem;
	}
}

/*****************************************************************************************************/

/* (HIKARI.gaea.wm.background) */

#background {
	/* width: 1024px; height: 640px; */
	width: 100%; height: 100%;

	background-image: url("../wallpaper/summer-sky.jpg"); 
	overflow: hidden;
}

.logo {
	top: 15px; left: 15px;

	position: absolute;
	z-index: 0;
}

/* docka */

.dock {
	bottom: 0; left: 0; right: 0;

	background: #fcfcfc;
	// background: url("appPics/dockBg.png");
	height: 50px;
	position: absolute;
}

/* (HIKARI.gaea.wm.icon) */

.icon {
	float: left;
	margin: 7px 5px;
}

.iconImg {
	border: 0;
	height: 42px;
	position: relative;
}

/* tooltip */

.tooltip {
	background: #191919;
	border-radius: 3px;
	color: #fcfcfc;
	font-size: 10px;
	font-weight: 700;
	padding: 5px;
	position: absolute;
}

/* (HIKARI.gaea.wm.window) */

.windowBase {
	margin: 0; padding: 0;
	position: absolute;
}

.windowTop {
	top: 0; left: 0; right: 0; /* 10px */

	/* background: url("appPics/top.png"); */
	background-color: #191919;
	height: 27px;
	position: absolute;
}

.windowTopRight {
	width: 10px; height: 27px;
	top: 0; right: 0;

	// background: url("appPics/topRight.png");
	position: absolute;
}

.windowTopIcon {
	height: 15px;
	margin: 6px 0 0 10px;
}

.windowTopMaximize, .windowTopUnMaximize, .windowTopClose {
	border: none;
	float: right;
	/* margin: 6px 0 0 0; */
}

.windowTopUnMaximize { display: none; }

.maximized-window .windowTopUnMaximize { display: block; }
.maximized-window .windowTopMaximize { display: none; }

.windowTopText {
	color: #fcfcfc;
	font-size: 10px;
	font-weight: 700;
	margin: 0 0 0 5px;
	position: relative;
	top: -3px;
}

.windowMenuMain {
	top: 27px; left: 0; right: 0; /* 10px */

	/* background: url("appPics/menu.png"); */
	background-color: #07d0eb;
	height: 22px;
	position: absolute;
}

.windowMenuRight {
	width: 10px; height: 22px;
	top: 27px; right: 0;

	// background: url("appPics/menuRight.png");
	position: absolute;
}

.windowMainLeft {
	top: 49px; left: 0; bottom: 25px;

	// background: url("appPics/borderLeft.png");
	position: absolute;
	width: 5px;
}

.windowMain {
	top: 49px; left: 0; bottom: 25px;

	background-color: #fcfcfc;
	/* border-left: 1px solid #4d4943;
	border-right: 1px solid #4d4943; */
	overflow-y: auto;
	position: absolute;
	width: 100%;
}

.windowMainNoResize { overflow: hidden; }

.windowMainRight {
	top: 49px; right: 0; bottom: 25px;

	// background: url("appPics/borderRight.png");
	position: absolute;
	width: 5px;
}

.windowBottom {
	bottom: 0; left: 0; right: 16px;

	// background: url("appPics/bottom.png");
	background-color: #191919;
	height: 25px;
	position: absolute;
}

.windowBottomRight {
	width: 16px; height: 25px;
	bottom: 0; right: 0;

	// background: url("appPics/resizer.png");
	background-color: #191919;
	position: absolute;
} 

.windowBottomRightNo {
	width: 16px; height: 25px;
	bottom: 0; right: 0;

	// background: url("appPics/resizerNo.png");
	background-color: #191919;
	position: absolute;
} 

.windowBottomText {
	margin: 4px; padding: 0 0 0 10px;

	color: #fcfcfc;
	float: left;
	font-size: 10px;
	height: 20px;
}

.windowBottomTextLoader { height: 15px; }

.popupBg {
	width: 100%; height: 100%;
	top: 0; left: 0;

	background: #191919;
	opacity: 0.4;
	position: absolute;
	z-index: 60000;
}

.popup {
	background: #fcfcfc;
	border: 1px solid #191919;
	border-radius: 10px;
	z-index: 60100;
}

.popup form { padding: 25px; }
.popUpLabel { font-size: 10px; }

/* Meny-kod */

.menuTop {
	float: left;
	list-style-type:none;
	margin: 0 0 0 10px;
	padding: 0;
}

.menuTop li {
	float: left;
	padding: 0 5px;	
}

.menuTop li a {
	color: #fcfcfc;
	font-size: 10px;	
	text-decoration: none;
}

.menuOut {
	margin: 0; padding: 2px 0;

	background: #191919;
	border: 1px solid #131312;
	display: block;
	position: absolute;
	z-index: 50000;
}

.menuOut li {
	margin: 2px 5px; padding: 0 5px;

	height: 30px;
	list-style-type:none;
}

.menuOut li:hover { background: #231913; }

.menuOut li a {
	color: #fcfcfc;
	font-size: 10px;	
	text-decoration: none;
}

.menuOut li a img {
	border: none;
	margin: 0 5px 0 0;
	position: relative;
	top: 5px;
}

// ImageViewer, HIKARI.gaea.app.imageViewer

.imageViewerThumbCont {
	margin: 10px; padding: 5px;

	background: #c7c2b0;
	border: 1px solid #b3af9e;
	border-radius: 3px;
	float: left;
}

.imageViewerThumbCont:hover { background: #b3af9e; }
.imageViewerThumbImg { border: none; }
.imageSingleWindowMain { overflow: hidden; }

// Memory

.divCont {
	margin: 10px; padding: 10px;

	background: #c7c2b0;
	border: 1px solid #b3af9e;
	border-radius: 5px;
	float: left;
}

.divRow { clear: both; }

.divBrick {
	float: left;
	margin: 5px;
}

.divBrick img { border: none; }
.clear { clear: both; }

.divInfo {
	margin: 10px; padding: 10px;

	background: #c7c2b0;
	border: 1px solid #b3af9e;
	border-radius: 5px;
	float: left;
	font-size: 10px;
}

.divHighscore {
	margin: 10px; padding: 10px;

	background: #c7c2b0;
	border: 1px solid #b3af9e;
	border-radius: 5px;
	float: right;
	font-size: 10px;
}

// RssReader

.rssFeed h2 {
	margin: 2px; padding: 0 5px;

	background: #c7c2b0;
	border-top: 1px solid #b3af9e;
	border-bottom: 1px solid #b3af9e;
	font-size: 10px;
}

.rssFeed a { font-size: 10px; }
.rssFeed p { font-size: 10px; }
.formSeconds { width: 25px; }
.formSource { width: 150px; }

// Chat

.msgContainer {
	top: 0; bottom: 80px;

	margin-right: 5px;
	overflow-y: scroll;
	position: absolute;
	width: 100%;
}

.writeMsgContainer {
	width: 100%; height: 60px;

	bottom: 0;
	position: absolute;
}

.writeMsgContainer textarea {
	width: 270px; height: 40px;
	margin: 5px;
}

.writeMsgContainer input {
}

.chatMsg { margin-bottom: 20px; }

.chatMsgText {
	margin: 0; padding: 5px;
	font-size: 12px;
}

.chatMsgInfo {
	margin: 2px; padding: 0 5px;

	background: #c7c2b0;
	border-top: 1px solid #b3af9e;
	border-bottom: 1px solid #b3af9e;
}

.chatMsgAlias {
	font-size: 11px;
	font-weight: 700;
	float: left;
	margin: 0;
}

.chatMsgDate {
	float: right;
	font-size: 11px;
	margin: 0;
}

.clr { clear: both; }

// About

.aboutText {
	font-size: 10px;
	margin: 10px 10px;
}

.aboutVersionText {
	font-size: 9px;
	margin: 0 10px;
}

h1 {
	font-size: 12px;
	margin: 5px 10px 0 10px;
}

/*
html, body {
	width: 100%; height: 100%;
  margin: 0; padding: 0;
}

body {
	color: $black;
  @include sans-serif;
	font-size: 16px;
	line-height: 1.5;
	// overflow: hidden !important;
  // position: absolute;
}

img#desktop-bg {
	width: 100%; height: auto;
	min-height: 100%; // min-width: 1024px;
	top: 0; left: 0;

	// position: fixed;
}

#desktop-wrapper {
	width: 100%; height: 100%;
	// position: absolute;
}

::selection {
  background: #c0dcc0;
  color: $white;
}

.side-left, .side-right, .top-bar, .bottom-bar {
  position: absolute;
}

.side-left, .side-right {
  width: 90px; height: 480px; // collapsed, the width is 15px
  // background: $blue-00;
}

.side-left { left: 0; }
.side-right { right: 0; }

.top-bar, .bottom-bar {
  width: 100%; height: 90px;
}

.top-bar { top: 0; }

.bottom-bar {
  border-top: 1px solid $black;
  bottom: 0;
}

#desktop-content {
	width: 100%; height: 100%; // height: 93.5%;

	// background-color: rgba($black, 0.7);
	display: table;
	margin-top: 76px;
	// position: absolute;

	#desktop-icons {
		display: inline-block;
		float: left;
		margin: 1rem 0 0 1rem;
	}

	.desktop-icon {
		margin: 0 1rem 2rem 0;
		width: 100px;

		img, span {
			display: table-cell;
			margin: 0 auto;
			text-align: center;
		}

		img {
		}

		span {
			color: $white;
			display: block;
			@include mono;
			font-size: 10px;
			margin: 0.3rem 0 0 0;
			text-shadow: 1px 1px 1px $black;
		}
	}
}

.sp-scrollbar {
	width: 10px;
	margin: 4px;
	background-color: #ccc;
	cursor: pointer;

	.sp-thumb { background-color: #aaa; }
}

.sp-scrollbar.active {
	.sp-thumb { background-color: #999; }
}
*/
