
///////////////////////////////////////////////////////////////////////////////// SYSTEM.FONTS/SCSS ///
/*
// Japanese
// font-family: "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, sans-serif;
// font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
*/

////////////////////////////////////////////// MONOSPACED /////////////////////////////////////////////
/// SOURCE CODE PRO ///////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 200;

	src: url("../../fonts/sourcecodepro/200.woff") format("woff");
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 300;

	src: url("../../fonts/sourcecodepro/300.woff") format("woff");
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 400;

	src: url("../../fonts/sourcecodepro/400.woff") format("woff");
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 500;

	src: url("../../fonts/sourcecodepro/500.woff") format("woff");
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 600;

	src: url("../../fonts/sourcecodepro/600.woff") format("woff");
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 700;

	src: url("../../fonts/sourcecodepro/700.woff") format("woff");
}

@font-face {
	font-family: "SourceCodePro";
	font-style: normal;
	font-weight: 900;

	src: url("../../fonts/sourcecodepro/900.woff") format("woff");
}

//////////////////////////////////////////////// SERIF ////////////////////////////////////////////////
/// LIBRE BASKERVILLE /////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: "Libre Baskerville";
	font-style: normal;
	font-weight: 400;

	src: url("../../fonts/librebaskerville/400.woff") format("woff");
}

@font-face {
	font-family: "Libre Baskerville";
	font-style: italic;
	font-weight: 400;

	src: url("../../fonts/librebaskerville/400i.woff") format("woff");
}

@font-face {
	font-family: "Libre Baskerville";
	font-style: normal;
	font-weight: 700;

	src: url("../../fonts/librebaskerville/700.woff") format("woff");
}

/// ALEGREYA //////////////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: "Alegreya";
	font-style: normal;
	font-weight: 400;

	src: url("../../fonts/alegreya/400.woff") format("woff");
}

@font-face {
	font-family: "Alegreya";
	font-style: italic;
	font-weight: 400;

	src: url("../../fonts/alegreya/400i.woff") format("woff");
}

@font-face {
	font-family: "Alegreya";
	font-style: normal;
	font-weight: 700;

	src: url("../../fonts/alegreya/700.woff") format("woff");
}

@font-face {
	font-family: "Alegreya";
	font-style: italic;
	font-weight: 700;

	src: url("../../fonts/alegreya/700i.woff") format("woff");
}

@font-face {
	font-family: "Alegreya";
	font-style: normal;
	font-weight: 900;

	src: url("../../fonts/alegreya/900.woff") format("woff");
}

@font-face {
	font-family: "Alegreya";
	font-style: normal;
	font-weight: 900;

	src: url("../../fonts/alegreya/900i.woff") format("woff");
}

////////////////////////////////////////////// SANS-SERIF /////////////////////////////////////////////
/// OPEN SANS /////////////////////////////////////////////////////////////////////////////////////////

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 300;

	src: url("../../fonts/opensans/300.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 400;

	src: url("../../fonts/opensans/400.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 500;

	src: url("../../fonts/opensans/500.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 600;

	src: url("../../fonts/opensans/600.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 700;

	src: url("../../fonts/opensans/700.woff") format("woff");
}

@font-face {
	font-family: "OpenSans";
	font-style: normal;
	font-weight: 900;

	src: url("../../fonts/opensans/900.woff") format("woff");
}

//////////////////////////////////////////////// ICONS ////////////////////////////////////////////////

@font-face {
	font-family: "Ionicons";
	font-style: normal;
	font-weight: normal;

	src: url("../../fonts/ionic/ionicons.eot?v=1.4.0");
	src: url("../../fonts/ionic/ionicons.eot?v=1.4.0#iefix") format("embedded-opentype"),
			 url("../../fonts/ionic/ionicons.ttf?v=1.4.0") format("truetype"),
			 url("../../fonts/ionic/ionicons.woff?v=1.4.0") format("woff"),
			 url("../../fonts/ionic/ionicons.svg?v=1.4.0#Ionicons") format("svg");	
}

////////////////////////////////////////////// TYPOGRAPHY /////////////////////////////////////////////

@mixin mono {
  font-family: "SourceCodePro", monospace;
}

@mixin sans {
	font-family: "OpenSans", sans-serif;
}

@mixin serif {
	font-family: Alegreya, serif;
}

@mixin icons { font-family: "Ionicons"; }

// @mixin japanese { font-family: "Kozuka Gothic Pr6N", "Mplus1mMedium"; }

// .japanese { @include japanese; }
.mono { @include mono; }
.sans { @include sans; }

@mixin hide-text {
	color: transparent;
	font-size: 0;
	line-height: 0;
}
