
//////////////////////////////////////////////////////////////////////////////// SYSTEM.ONLINE/SCSS ///

.online-indicator {
	width: 3px; height: 47px;
	top: 0; right: 44px;

	display: block;
	position: absolute;
	z-index: 1;
}
