
/******************************************************************************** SYSTEM.FONTS/SCSS **/

/*
Japanese |
	font-family: "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, sans-serif;
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
*/

/************************************************************************************* [+] MONOSPACE **/
/** [-] AMBLE *****************************************************************************************/

@font-face {
	font-family: "AmbleLight";
	src: url("../../fonts/Amble/Amble-Light.eot");
	src: url("../../fonts/Amble/Amble-Light.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/Amble/Amble-Light.woff") format("woff"),
			 url("../../fonts/Amble/Amble-Light.ttf") format("truetype"),
			 url("../../fonts/Amble/Amble-Light.svg#AmbleLight") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AmbleLightItalic";
	src: url("../../fonts/Amble/Amble-LightItalic.eot");
	src: url("../../fonts/Amble/Amble-LightItalic.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/Amble/Amble-LightItalic.woff") format("woff"),
			 url("../../fonts/Amble/Amble-LightItalic.ttf") format("truetype"),
			 url("../../fonts/Amble/Amble-LightItalic.svg#AmbleLightItalic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AmbleRegular";
	src: url("../../fonts/Amble/Amble-Regular.eot");
	src: url("../../fonts/Amble/Amble-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/Amble/Amble-Regular.woff") format("woff"),
			 url("../../fonts/Amble/Amble-Regular.ttf") format("truetype"),
			 url("../../fonts/Amble/Amble-Regular.svg#AmbleRegular") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AmbleItalic";
	src: url("../../fonts/Amble/Amble-Italic.eot");
	src: url("../../fonts/Amble/Amble-Italic.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/Amble/Amble-Italic.woff") format("woff"),
			 url("../../fonts/Amble/Amble-Italic.ttf") format("truetype"),
			 url("../../fonts/Amble/Amble-Italic.svg#AmbleItalic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AmbleBold";
	src: url("../../fonts/Amble/Amble-Bold.eot");
	src: url("../../fonts/Amble/Amble-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/Amble/Amble-Bold.woff") format("woff"),
			 url("../../fonts/Amble/Amble-Bold.ttf") format("truetype"),
			 url("../../fonts/Amble/Amble-Bold.svg#AmbleBold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AmbleBoldItalic";
	src: url("../../fonts/Amble/Amble-BoldItalic.eot");
	src: url("../../fonts/Amble/Amble-BoldItalic.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/Amble/Amble-BoldItalic.woff") format("woff"),
			 url("../../fonts/Amble/Amble-BoldItalic.ttf") format("truetype"),
			 url("../../fonts/Amble/Amble-BoldItalic.svg#AmbleBoldItalic") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AmbleLightCondensed";
	src: url("../../fonts/Amble/Amble-LightCondensed.eot");
	src: url("../../fonts/Amble/Amble-LightCondensed.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/Amble/Amble-LightCondensed.woff") format("woff"),
			 url("../../fonts/Amble/Amble-LightCondensed.ttf") format("truetype"),
			 url("../../fonts/Amble/Amble-LightCondensed.svg#AmbleLightCondensed") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "AmbleLightCondensedItalic";
	src: url("../../fonts/Amble/Amble-LightCondensedItalic.eot");
	src: url("../../fonts/Amble/Amble-LightCondensedItalic.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/Amble/Amble-LightCondensedItalic.woff") format("woff"),
			 url("../../fonts/Amble/Amble-LightCondensedItalic.ttf") format("truetype"),
			 url("../../fonts/Amble/Amble-LightCondensedItalic.svg#AmbleLightCondensedItalic") format("svg");
	font-weight: normal;
	font-style: normal;
}

/** [-] M+ ********************************************************************************************/

@font-face {
	font-family: "Mplus1mThin";
	font-style: normal;
	font-weight: 200;

	src: url("../../fonts/M+/Mplus-1m-thin.ttf") format("truetype");
}

@font-face {
	font-family: "Mplus1mLight";
	font-style: normal;
	font-weight: 300;

	src: url("../../fonts/M+/Mplus-1m-light.ttf") format("truetype");
}


@font-face {
	font-family: "Mplus1mRegular";
	font-style: normal;
	font-weight: 400;

	src: url("../../fonts/M+/Mplus-1m-regular.ttf") format("truetype");
}

@font-face {
	font-family: "Mplus1mMedium";
	font-style: normal;
	font-weight: 600;

	src: url("../../fonts/M+/Mplus-1m-medium.ttf") format("truetype");
}

@font-face {
	font-family: "Mplus1mBold";
	font-style: normal;
	font-weight: 700;

	src: url("../../fonts/M+/Mplus-1m-bold.ttf") format("truetype");
}

/** [-] SOURCE CODE PRO *******************************************************************************/

@font-face {
	font-family: "SourceCodeProExtraLight";
	font-style: normal;
	font-weight: 200;

	src: url("../../fonts/SourceCodePro/SourceCodePro-ExtraLight.eot");
	src: url("../../fonts/SourceCodePro/SourceCodePro-ExtraLight.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-ExtraLight.woff") format("woff"),
			 url("../../fonts/SourceCodePro/SourceCodePro-ExtraLight.ttf") format("truetype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-ExtraLight.svg#SourceCodeProExtraLight") format("svg");
}

@font-face {
	font-family: "SourceCodeProLight";
	font-style: normal;
	font-weight: 300;

	src: url("../../fonts/SourceCodePro/SourceCodePro-Light.eot");
	src: url("../../fonts/SourceCodePro/SourceCodePro-Light.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Light.woff") format("woff"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Light.ttf") format("truetype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Light.svg#SourceCodeProLight") format("svg");
}

@font-face {
	font-family: "SourceCodeProRegular";
	font-style: normal;
	font-weight: 400;

	src: url("../../fonts/SourceCodePro/SourceCodePro-Regular.eot");
	src: url("../../fonts/SourceCodePro/SourceCodePro-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Regular.woff") format("woff"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Regular.ttf") format("truetype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Regular.svg#SourceCodeProRegular") format("svg");
}

@font-face {
	font-family: "SourceCodeProSemibold";
	font-style: normal;
	font-weight: 600;

	src: url("../../fonts/SourceCodePro/SourceCodePro-Semibold.eot");
	src: url("../../fonts/SourceCodePro/SourceCodePro-Semibold.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Semibold.woff") format("woff"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Semibold.ttf") format("truetype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Semibold.svg#SourceCodeProSemibold") format("svg");
}

@font-face {
	font-family: "SourceCodeProBold";
	font-style: normal;
	font-weight: 700;

	src: url("../../fonts/SourceCodePro/SourceCodePro-Bold.eot");
	src: url("../../fonts/SourceCodePro/SourceCodePro-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Bold.woff") format("woff"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Bold.ttf") format("truetype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Bold.svg#SourceCodeProBold") format("svg");
}

@font-face {
	font-family: "SourceCodeProBlack";
	font-style: normal;
	font-weight: 800;

	src: url("../../fonts/SourceCodePro/SourceCodePro-Black.eot");
	src: url("../../fonts/SourceCodePro/SourceCodePro-Black.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Black.woff") format("woff"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Black.ttf") format("truetype"),
			 url("../../fonts/SourceCodePro/SourceCodePro-Black.svg#SourceCodeProBlack") format("svg");
}

/************************************************************************************ [+] SANS-SERIF **/
/** [-] OPEN SANS *************************************************************************************/

@font-face {
	font-family: "OpenSansLight";
	font-style: normal;
	font-weight: 300;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-Light.svg#OpenSansLight") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-Light.eot"),
				url("../../fonts/OpenSans/OpenSans-Light.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-Light.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-Light.woff") format("woff");
}

@font-face {
	font-family: "OpenSansLightItalic";
	font-style: italic;
	font-weight: 300;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-LightItalic.svg#OpenSansLightItalic") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-LightItalic.eot"),
				url("../../fonts/OpenSans/OpenSans-LightItalic.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-LightItalic.woff") format("woff");
}

@font-face {
	font-family: "OpenSansRegular";
	font-style: normal;
	font-weight: 400;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-Regular.svg#OpenSansRegular") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-Regular.eot"),
				url("../../fonts/OpenSans/OpenSans-Regular.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-Regular.woff") format("woff");
}

@font-face {
	font-family: "OpenSansItalic";
	font-style: italic;
	font-weight: 400;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-Italic.svg#OpenSansItalic") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-Italic.eot"),
				url("../../fonts/OpenSans/OpenSans-Italic.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-Italic.woff") format("woff");
}

@font-face {
	font-family: "OpenSansSemibold";
	font-style: normal;
	font-weight: 600;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-Semibold.svg#OpenSansSemibold") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-Semibold.eot"),
				url("../../fonts/OpenSans/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-Semibold.woff") format("woff");
}

@font-face {
	font-family: "OpenSansSemiboldItalic";
	font-style: italic;
	font-weight: 600;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-SemiboldItalic.svg#OpenSansSemiboldItalic") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-SemiboldItalic.eot"),
				url("../../fonts/OpenSans/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-SemiboldItalic.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-SemiboldItalic.woff") format("woff");
}

@font-face {
	font-family: "OpenSansBold";
	font-style: normal;
	font-weight: 700;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-Bold.svg#OpenSansBold") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-Bold.eot"),
				url("../../fonts/OpenSans/OpenSans-Bold.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-Bold.woff") format("woff");
}

@font-face {
	font-family: "OpenSansBoldItalic";
	font-style: italic;
	font-weight: 700;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-BoldItalic.svg#OpenSansBoldItalic") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-BoldItalic.eot"),
				url("../../fonts/OpenSans/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-BoldItalic.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-BoldItalic.woff") format("woff");
}

@font-face {
	font-family: "OpenSansExtrabold";
	font-style: normal;
	font-weight: 800;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-ExtraBold.svg#OpenSansExtraBold") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-ExtraBold.eot"),
				url("../../fonts/OpenSans/OpenSans-ExtraBold.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-ExtraBold.woff") format("woff");
}

@font-face {
	font-family: "OpenSansExtraboldItalic";
	font-style: italic;
	font-weight: 800;

	src:	local("☺"), url("../../fonts/OpenSans/OpenSans-ExtraBoldItalic.svg#OpenSansExtraBoldItalic") format("svg");
	src:	url("../../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot"),
				url("../../fonts/OpenSans/OpenSans-ExtraBoldItalic.eot?#iefix") format("embedded-opentype"),
				url("../../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf") format("truetype"),
				url("../../fonts/OpenSans/OpenSans-ExtraBoldItalic.woff") format("woff");
}

/** [-] SOURCE SANS PRO *******************************************************************************/

@font-face {
	font-family: "SourceSansProExtraLight";
	font-style: normal;
	font-weight: 200;

	src: url("../../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-ExtraLight.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-ExtraLight.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-ExtraLight.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-ExtraLight.svg#SourceSansProExtraLight") format("svg");
}

@font-face {
	font-family: "SourceSansProExtraLightItalic";
	font-style: italic;
	font-weight: 200;

	src: url("../../fonts/SourceSansPro/SourceSansPro-ExtraLightIt.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-ExtraLightIt.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-ExtraLightIt.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-ExtraLightIt.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-ExtraLightIt.svg#SourceSansProExtraLightItalic") format("svg");
}

@font-face {
	font-family: "SourceSansProLight";
	font-style: normal;
	font-weight: 300;

	src: url("../../fonts/SourceSansPro/SourceSansPro-Light.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-Light.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Light.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Light.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Light.svg#SourceSansProLight") format("svg");
}

@font-face {
	font-family: "SourceSansProLightItalic";
	font-style: italic;
	font-weight: 300;

	src: url("../../fonts/SourceSansPro/SourceSansPro-LightIt.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-LightIt.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-LightIt.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-LightIt.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-LightIt.svg#SourceSansProLightItalic") format("svg");
}

@font-face {
	font-family: "SourceSansProRegular";
	font-style: normal;
	font-weight: 400;

	src: url("../../fonts/SourceSansPro/SourceSansPro-Regular.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-Regular.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Regular.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Regular.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Regular.svg#SourceSansProRegular") format("svg");
}

@font-face {
	font-family: "SourceSansProItalic";
	font-style: italic;
	font-weight: 400;

	src: url("../../fonts/SourceSansPro/SourceSansPro-It.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-It.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-It.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-It.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-It.svg#SourceSansProItalic") format("svg");
}

@font-face {
	font-family: "SourceSansProSemibold";
	font-style: normal;
	font-weight: 600;

	src: url("../../fonts/SourceSansPro/SourceSansPro-Semibold.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-Semibold.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Semibold.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Semibold.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Semibold.svg#SourceSansProSemibold") format("svg");
}

@font-face {
	font-family: "SourceSansProSemiboldItalic";
	font-style: italic;
	font-weight: 600;

	src: url("../../fonts/SourceSansPro/SourceSansPro-SemiboldIt.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-SemiboldIt.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-SemiboldIt.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-SemiboldIt.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-SemiboldIt.svg#SourceSansProSemiboldItalic") format("svg");
}

@font-face {
	font-family: "SourceSansProBold";
	font-style: normal;
	font-weight: 700;

	src: url("../../fonts/SourceSansPro/SourceSansPro-Bold.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-Bold.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Bold.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Bold.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Bold.svg#SourceSansProBold") format("svg");
}

@font-face {
	font-family: "SourceSansProBoldItalic";
	font-style: italic;
	font-weight: 700;

	src: url("../../fonts/SourceSansPro/SourceSansPro-BoldIt.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-BoldIt.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-BoldIt.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-BoldIt.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-BoldIt.svg#SourceSansProBoldItalic") format("svg");
}

@font-face {
	font-family: "SourceSansProBlack";
	font-style: normal;
	font-weight: 800;

	src: url("../../fonts/SourceSansPro/SourceSansPro-Black.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-Black.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Black.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Black.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-Black.svg#SourceSansProBlack") format("svg");
}

@font-face {
	font-family: "SourceSansProBlackItalic";
	font-style: italic;
	font-weight: 800;

	src: url("../../fonts/SourceSansPro/SourceSansPro-BlackIt.eot");
	src: url("../../fonts/SourceSansPro/SourceSansPro-BlackIt.eot?#iefix") format("embedded-opentype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-BlackIt.woff") format("woff"),
			 url("../../fonts/SourceSansPro/SourceSansPro-BlackIt.ttf") format("truetype"),
			 url("../../fonts/SourceSansPro/SourceSansPro-BlackIt.svg#SourceSansProBlackItalic") format("svg");
}

/************************************************************************************ [+] TYPOGRAPHY **/

@mixin sans {
	font-family: "SourceSansProRegular", "OpenSansRegular", "Open Sans", "open-sans", sans-serif;
}

@mixin mono {
  font-family: "SourceCodeProRegular", "AmbleRegular", monospace;
}

@mixin hide-text {
	color: transparent;
	font-size: 0;
	line-height: 0;
}

@mixin japanese { font-family: "Kozuka Gothic Pr6N", "Mplus1mMedium"; }

.japanese { @include japanese; }

/*
@mixin script {
	font-family: "AlexBrushRegular", cursive;
}
*/
